{% extends 'main.html' %}
{% block container %}
    <div class="row">
        <div class="container d-flex justify-content-center mt-4 mb-4">
            <h1>Welcome {{ profile_full_name }}</h1>
        </div>
    </div>
    <div class="container col-5">
        <p class="d-flex justify-content-center h2">You have {{ task_count }} {% if task_count == 1 %}task{% else %}
            tasks{% endif %} to do</p>
        <ol class="list-group list-group-numbered">
            {% for project, tasks in projects_list.items %}
                <li class="list-group-item d-flex justify-content-between align-items-start">
                    <div class="ms-2 me-auto">
                        <div class="fw-bold">{{ project }}</div>
                        <div class="table-responsive">
                            <table class="table table-striped table-hover">
                                <thead>
                                <tr>
                                    <th scope="col">Task ID</th>
                                    <th scope="col">Task name</th>
                                    <th scope="col">Due date</th>
                                    <th scope="col">Complete</th>
                                </tr>
                                </thead>
                                <tbody>
                                {% for task in tasks %}
                                    <tr>
                                        <td><a class="text-decoration-none text-dark" href="{% url 'task info' task.0 %}">{{ task.1 }}</a></td>
                                        <td>{{ task.3 }}</td>
                                        <td>{{ task.2 }}</td>
                                    </tr>
                                {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <span class="badge bg-primary rounded-pill">{{ tasks|length }}</span>
                </li>
            {% endfor %}
        </ol>
    </div>
{% endblock %}